<div class="news">
  <h2>news</h2>
  {% if site.news -%}
  <ul class="news-list">
    {%- assign news = site.news | reverse -%}
    {% for item in news limit: site.news_limit %}
    <li class="news-item">
      <span class="news-date">{{ item.date | date: "%b %-d, %Y" }}</span>
      <span class="news-content">
        {% if item.inline -%}
          {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
        {%- else -%}
          <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
        {%- endif %}
      </span>
    </li>
    {%- endfor %}
  </ul>
  {%- else -%}
  <p>No news so far...</p>
  {%- endif %}
</div>
