{%- if paginator.total_pages > 1 -%}
<nav aria-label="Blog page navigation" class="post-pagination">
  <div class="pagination-nav">
    {%- if paginator.previous_page -%}
      <a href="{{ paginator.previous_page_path | relative_url }}" class="pagination-link pagination-prev">
        <i class="fa-solid fa-arrow-left"></i> Newer
      </a>
    {%- else -%}
      <span class="pagination-link pagination-prev disabled">
        <i class="fa-solid fa-arrow-left"></i> Newer
      </span>
    {%- endif -%}

    <span class="pagination-info">
      {{ paginator.page }} / {{ paginator.total_pages }}
    </span>

    {%- if paginator.next_page -%}
      <a href="{{ paginator.next_page_path | relative_url }}" class="pagination-link pagination-next">
        Older <i class="fa-solid fa-arrow-right"></i>
      </a>
    {%- else -%}
      <span class="pagination-link pagination-next disabled">
        Older <i class="fa-solid fa-arrow-right"></i>
      </span>
    {%- endif -%}
  </div>
</nav>
{%- endif -%}
