---
layout: default
---

<!-- about.html -->
      <div class="post">
        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}start{%- else -%}end{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}
              {% include figure.html 
              path=profile_image_path 
              class="img-fluid z-dept-1 rounded"
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
          {%- endif %}
          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}

          <hr />
          <div class="text-center mb-3">Join my mailing list to receive occasional project updates and other light correspondence from me. 📧</div>
          <form action="https://sendfox.com/form/g1we1k/3ee920" method="post" class="col-md-8 offset-md-2 mb-3">
            <div class="input-group">
              <input type="email" name="email" class="form-control" placeholder="Your email" aria-label="Your email" autocomplete="email" required />
              <button class="btn btn-outline-primary" type="submit">Send me updates!</button>
            </div>
          </form>

          {%- if page.social %}
          <!-- Social -->
          <div class="social">
            <div class="contact-icons">
            {% include social.html %}
            </div>

            <div class="contact-note">
              {{ site.contact_note }}
            </div>
            
          </div>
          {%- endif %}
        </article>

</div>
